@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
 html {
  font-family:'Roboto Condensed';
 }
 button{
 	float:left;
 }


body {
	text-align: center;
	background-color:darkgray;
}

h2{
	font-size: 25px;
	margin-bottom: 25px;
}
#top img{
    width:200px;
    height:200px;
}
#top{
    	margin-bottom: 30px;
}

#picks{
        	margin-bottom: 30px;
}

#picks img{
    width:40px;
    height:40px;
}